classes
deps
doc
lib
target
repos
resources/public/3rd
resources/public/compiled
.lein-plugins
.lein-cljsbuild-compiler*
.lein-cljsbuild-repl
log.txt
logfile
*.iml
*~
[#]*[#]
.\#*
.repl
.lein-repl-history
.lein-failures
.lein-deps-sum
.nrepl-port
.DS_Store
pom.*